.color {
    background: #0a2f2a;
    backgroundDark: #051916;

    primary: #11e4c1;
    primaryLight: #314742;
    primaryDark: #062d27;

    secondary: #173530;
    secondaryLight: #43685d;
    secondaryDark: #00c493;

    color: #ccf6ec;
    color: #e6fff6;
    color: #88b0a6;
    color: #e6f1ff;
}