.color {
    background: #0a2f2a;
    backgroundDark: #051916;

    primary: #11e4c1;
    primaryLight: #314742;
    primaryDark: #062d27;

    secondary: #173530;
    secondaryLight: #43685d;
    secondaryDark: #00c493;

    primaryWhite: #e6f1ff;
    secondaryWhite: #ccf6ec;
    secondaryDarkWhite: #88b0a6;
    
    primaryBrightText: #64ffda;
    secondaryBrightText: #e6fff6;
    secondaryDark: rgba(0, 196, 147, 0.15);
    color: #64ffda;
}